{% extends 'base.html' %}
{% block title %}
TEC: Home
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-center mt-5">
    <h5 class="text-secondary">About</h5>
  </div>
  <div class="about d-flex justify-content-center mt-3">
    <h1 class="parag text-black text-center ">The creators of <br> Temporary Employment Corporation</h1>
  </div>
  <div class="row mt-4 mx-5 justify-content-between">
    <div class="row pt-3">
        <div class="col-sm ">
            <div class="card fixed  " style="width: 28rem; border-top-left-radius: 10px; border-top-right-radius:10px">
              <img class="card-img-top" src="https://drive.google.com/thumbnail?id=1D3pbW9GCOWCx0bqqTiSPVyxdtfJUE6HC&sz=w2000" with="auto"  height="300" alt="Card Image">  
                <div class="card-body ">
                  <div class="card-title">
                    <h3>Sean Y. Ridera</h3>
                  </div>
                  <hr>
                  <div class="card-text ">
                    <h5>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pharetra vulputate 
                      magna sit amet vestibulum. Mauris vitae rhoncus nisi. Pellentesque 
                      lacinia rhoncus est bibendum efficitur. </h5>
                  </div>
        
                </div>
              </div>
        </div>
        <div class="col-sm ">
            <div class="card fixed  " style="width: 28rem; border-top-left-radius: 10px; border-top-right-radius:10px">
              <img class="card-img-top" src="https://drive.google.com/thumbnail?id=1vRor_t9UY8_uLgOk17wPxa2uynTJxF_q&sz=w2000" with="auto"  height="300" alt="Card Image">  
              <div class="card-body ">
                  <div class="card-title">
                    <h3>Wenshi Klaire R. Narciso</h3>
                  </div>
                  <hr>
                  <div class="card-text ">
                    <h5>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pharetra vulputate 
                      magna sit amet vestibulum. Mauris vitae rhoncus nisi. Pellentesque 
                      lacinia rhoncus est bibendum efficitur. </h5>
                  </div>
        
                </div>
              </div>
        </div>
        <div class="col-sm ">
            <div class="card fixed  " style="width: 28rem; border-top-left-radius: 10px; border-top-right-radius:10px">
              <img class="card-img-top" src="https://drive.google.com/thumbnail?id=1-JDtKaDBxyIe11A3hZ8z4_nV15KC_Jos&sz=w2000" with="auto"  height="auto" alt="Card Image">  
              <div class="card-body ">
                  <div class="card-title">
                    <h3>Adrian A. Solomon</h3>
                  </div>
                  <hr>
                  <div class="card-text ">
                    <h5>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pharetra vulputate 
                      magna sit amet vestibulum. Mauris vitae rhoncus nisi. Pellentesque 
                      lacinia rhoncus est bibendum efficitur. </h5>
                  </div>
        
                </div>
              </div>
        </div>
    </div>
  </div>
{% endblock %}